<% if user_signed_in? %>
    <%= render "shared/header" %>
        <%= render "posts/form", post: @post %>
    <% else %>
    <p> Please sign in to create a post.</p>
<% end %>

<h2> Please Login to see contents  </h2>

