<% if user_signed_in? %>
    <%= render "shared/header" %>
        <%= render "posts/form", post: @post %>
    <% else %>
    <p> Please sign in to create a post.</p>
<% end %>

<h2> Recent Posts </h2>
<%= render partial: "posts/post", collection: @posts, as: :post %>
